<article class="message" id="report_<%= report._id %>">

    <% if(!report.resolved){ %>
    <div class="message-header has-background-warning has-text-grey-dark">
        <p> <strong>
                <%= report.title %>
            </strong>
        </p>
        <% if(currentUser) {%>
        <button data-uri="/fountains/<%= fountain._id %>/report/<%= report._id %>" type="button"
            class="button is-small is-success" id="resolveReportButton_<%= report._id %>">Mark as
            solved</button>
        <% } %>
    </div>

    <div class="message-body">
        <p>
            <strong> <%= report.description %></strong>
            <br>
            <br>
            <small>
                Reported by <a><%= report.author.username %></a> at <%= report.createdAt_Time %> -
                <%= report.createdAt_Date %>
            </small>
        </p>
    </div>

    <%  } %>

    <% if (report.resolved) { %>
    <%- include('./solved')%>
    <% } %>

</article>