<div class="message-header has-background-success-light has-text-grey-dark">
    <p> <strong>
            <%= report.title %>
        </strong>
    </p>

    <span class="tag is-success">Solved</span>
</div>

<div class="message-body">
    <p>
        <strong> <%= report.description %></strong>
        <br>
        <br>
        <small>
            Marked as solved by <a><%= report.resolvedAuthor.username %></a> at <%= report.updatedAt_Time %> -
            <%= report.createdAt_Date %>
        </small>
        <br>
        <small>
            Reported by <a><%= report.author.username %></a> at <%= report.createdAt_Time %> -
            <%= report.createdAt_Date %>
        </small>
    </p>
</div>