<article class="media" id="comment_<%= comment._id %>">
    <figure class="media-left">
        <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                <strong>
                    <%= comment.author.username %>
                </strong>
                <br>
                <%= comment.body %>
                    <br>
                    <small>
                        <%= comment.createdAt_Date %> -
                            <%= comment.createdAt_Time %>
                    </small>
            </p>
        </div>
        <% if( currentUser && comment.author.equals(currentUser._id)) {%>
            <button data-uri="/fountains/<%= fountain._id %>/comments/<%= comment._id %>" type="button"
                class="button is-small" id="deleteCommentButton_<%= comment._id %>">Delete</button>
            <% } %>
    </div>
</article>