<% layout('layouts/boilerplate')%>

<script type="module" src="/js/formValidation/index.js?v6" async defer></script>

<form action="/fountains/<%=fountain._id%>?_method=PUT" method="POST" enctype="multipart/form-data"
    id="form-to-validate" data-fieldsGetter="fountain.js">
    <div class="columns">
        <div class="column is-6 is-offset-3">
            <h1 class="title is-4">Edit Fountain</h1>
            <div class="columns">
                <div class="column is-8">
                    <div class="field">
                        <label class="label" for="inputStreet">Street</label>
                        <div class="control has-icons-right">
                            <input class="input" type="text" id="inputStreet" placeholder="Street"
                                name="address[street]" value="<%=fountain.address.street %>">
                            <span class="icon is-small is-right">
                                <i id='inputStreetIcon' class="fas fa-exclamation-triangle is-hidden"></i>
                            </span>
                        </div>
                        <p id="inputStreetHelp" class="help is-danger is-hidden">Field is required</p>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="inputNumber">Number</label>
                        <div class="control has-icons-right">
                            <input class="input" type="text" id="inputNumber" placeholder="Number"
                                name="address[number]" value="<%=fountain.address.number %>">
                            <span class="icon is-small is-right">
                                <i id='inputNumberIcon' class="fas fa-exclamation-triangle is-hidden"></i>
                            </span>
                        </div>
                        <p id="inputNumberHelp" class="help is-danger is-hidden">Field is required</p>
                    </div>
                </div>
            </div>


            <div class="columns">
                <div class="column is-6">
                    <div class="field">
                        <label class="label" for="inputCity">City</label>
                        <div class="control has-icons-right">
                            <input class="input" type="text" id="inputCity" placeholder="City" name="address[city]"
                                value="<%=fountain.address.city %>">
                            <span class="icon is-small is-right">
                                <i id='inputCityIcon' class="fas fa-exclamation-triangle is-hidden"></i>
                            </span>
                        </div>
                        <p id="inputCityHelp" class="help is-danger is-hidden">Field is required</p>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="inputState">State</label>
                        <div class="control">
                            <input class="input" type="text" id="inputState" placeholder="State" name="address[state]"
                                value="<%=fountain.address.state %>">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="inputPostcode">Postcode</label>
                        <div class="control">
                            <input class="input" type="text" id="inputPostcode" placeholder="Postcode"
                                name="address[postcode]" value="<%=fountain.address.postcode %>">
                            <span class="icon is-small is-right">
                                <i id='inputPostcodeIcon' class="fas fa-exclamation-triangle is-hidden"></i>
                            </span>
                        </div>
                        <p id="inputPostcodeHelp" class="help is-danger is-hidden">Field is required</p>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label" for="inputCountry">Country</label>
                <div class="control has-icons-right">
                    <input class="input" type="text" id="inputCountry" placeholder="Country" name="address[country]"
                        value="<%=fountain.address.country %>">
                    <span class="icon is-small is-right">
                        <i id='inputCountryIcon' class="fas fa-exclamation-triangle is-hidden"></i>
                    </span>
                </div>
                <p id="inputCountryHelp" class="help is-danger is-hidden">Field is required</p>
            </div>

            <div class="field">
                <div class="control">
                    <div class="file has-name is-fullwidth">
                        <label class="file-label">
                            <input class="file-input" type="file" id="inputImage" name="image" multiple
                                accept="image/png, image/jpg, image/jpeg" data-maxCount="5" data-maxSize="5242880">
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Upload image
                                </span>
                            </span>
                            <span class="file-name">
                            </span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="field">
                <article class="message">
                    <div class="message-header has-background-white pl-0">
                        <label class="file-label">
                            <a href="#collapsible-message" data-action="collapse">
                                <button class="file-cta" type="button">Select and delete images</button>
                            </a>
                        </label>
                    </div>
                    <div id="collapsible-message" class="message-body is-collapsible has-background-white-bis">
                        <div class="message-body-content">
                            <div class="columns is-mobile is-multiline">
                                <% if(fountain.images.length < 1) {%>
                                <p>No images to delete</p>
                                <% } %>
                                <% for(let [i, img] of fountain.images.entries()) {%>
                                <div class="column is-6">
                                    <figure class=" image">
                                        <img src="<%= img.thumbnail  %> ">
                                        <input class="is-checkradio is-danger" id="image_<%= i %>" type="checkbox"
                                            name="deleteImages[]" value="<%=img.filename%>">
                                        <label for="image_<%= i %>"></label>
                                    </figure>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="control">
                <button class="button is-info" id="submitButton">Update</button>
            </div>

        </div>
    </div>
</form>