<% layout('layouts/boilerplate')%>

<div class="box has-background-info-dark p-1 mb-6">
    <div id="mapCluster" data-accessToken="<%=process.env.MAPBOX_TOKEN %>"
        data-fountains="<%=JSON.stringify({ features: fountains})%>"></div>
</div>

<div class="columns">
    <div class="column is-10 is-offset-1">
        <div class="columns is-multiline">
            <% for(let fountain of fountains){ %>
            <div class="column is-one-third">
                <div class="card bm--card-equal-height">
                    <div class="card-image">
                        <div class="tags has-addons is-block">
                            <% if(fountain.verificationCount > 0){ %>

                            <span class="tag is-success mb-0">Verified</span><span
                                class="tag counterTag mb-0"><%= fountain.verificationCount %></span>
                            <br>
                            <% } %>

                            <% if(fountain.reportCount > 0){ %>

                            <span class="tag is-warning ">Reports</span><span
                                class="tag"><%= fountain.reportCount %></span>

                            <% } %>
                        </div>

                        <figure class="index-image">
                            <% if(fountain.images.length > 0){ %>
                            <img src="<%= fountain.images[0].url %> " alt="Fountain image">
                            <% } else { %>
                            <img src="/assets/images/index_placeholder.jpg" alt="Placeholder image">
                            <% } %>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">

                            <p class="title is-5">
                                <%= fountain.address.city %>,
                                <%= fountain.address.state %>
                            </p>
                            <p class="subtitle is-5">
                                <%= fountain.address.street %>
                                <%= fountain.address.number %>
                            </p>
                            <p class="subtitle is-5">
                                <%= fountain.address.country %>
                            </p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            Found by&nbsp<a href="#"><%= fountain.author.username %></a>
                        </p>

                        <a href="/fountains/<%= fountain._id %>" class="card-footer-item">Show</a>
                    </footer>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>

<script src="/js/mapbox/showMapCluster.js?v6" async defer></script>