<% layout('layouts/boilerplate')%>

<script type="module" src="/js/comments/index.js?v6" async defer></script>

<div class="container is-fluid">
    <div class="block">
        <p class="title is-4">
            <%= fountain.address.city %>
            <%= fountain.address.state %>,
            <%= fountain.address.country %>
        </p>
        <p class="subtitle">
            <%= fountain.address.street %>
            <%= fountain.address.number %>
        </p>
        <p class="subtitle is-6">Found by <a href="#">
                <%= fountain.author.username %>
            </a>
        </p>
    </div>
    <% if(currentUser){ %>
    <div class="block">
        <a href="" class="button is-success">Verify</a>

        <a href="" class="button is-warning">Report problem</a>
    </div>
    <% } %>

    <% if(currentUser && fountain.author.equals(currentUser._id)) { %>
    <div class="block is-flex">
        <form action="/fountains/<%=fountain._id%>?_method=DELETE" method="POST">
            <button class="button is-danger mr-2">Delete</button>
        </form>

        <a href="/fountains/<%= fountain._id %>/edit" class="button">Edit</a>
    </div>
    <% } %>


    <div class="block pt-2">
        <% if(currentUser){ %>
        <div class="block">
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="field">
                        <p class="control">
                            <textarea data-uri="/fountains/<%= fountain._id %>/comments" class="textarea"
                                id="inputComment" placeholder="Add a comment..."></textarea>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button type="button" class="button" id="postCommentButton">Post
                                comment</button>
                        </p>
                    </div>
                </div>
            </article>
        </div>
        <% } %>

        <div class=block id="comments">
            <% for(comment of fountain.comments){ %>
            <%- include('../comments/showOne')%>
            <% } %>
        </div>

    </div>
</div>